# Archivos de sistema y configuración local
.DS_Store
.bash_profile
.zprofile
.zshrc
.zshrcy
.zsh_history
.zsh_sessions/
.emulator_console_auth_token
.lesshst

# Configuraciones y caché de herramientas
.idea/
.vscode/
.cache/
.flutter/
.flutter-devtools/
.node_modules/
.expo/
.android/
.cocoapods/
.gradle/
.dart-tool/
.dartServer/
.sdkman/
.pub-cache/
npm-debug.log
.npmrc

# Archivos y carpetas de desarrollo local
myenv/
env/
venv/
__pycache__/
*.pyc
*.pyo

# Archivos de configuración de tu sistema
.htaccess
.idlerc/
.fontconfig/
.cups/
.swiftpm/
.config/
.local/
.ssh/
.oracle_jre_usage/

# Carpetas personales y datos de usuario
Applications/
Creative Cloud Files*/
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Postman/
Public/
Library/

# Archivos de proyectos específicos
bot_shein/
demo-bot-citas/
fermata_mvp/
inmobiliaria/
inmuebles-web/
telegram_bot/
rastreo-paquetes-demo/
votacion_comedor.py

# Archivos temporales y de bloqueo
package-lock.json
package.json
*.lock
*.log
*.tmp
*.sqlite3

# Archivos sensibles y claves
*.pem
*.key
*.env

# Otros archivos que no se deben subir
public_html/

